* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Baloo1";
  src: url(BalooBhaijaan-Regular.ttf);
}
@font-face {
  font-family: "Baloo2";
  src: url(Baloo2-VariableFont_wght.ttf);
}
header a {
  text-decoration: none;
}

.firstnum {
  height: 136px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
  margin-right: 33px;
  font-family: "Baloo1";
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

#hamburger div {
  width: 35px;
  height: 3px;
  background-color: #123E52;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #123E52;
  height: 90vh;
  margin-top: 33px;
}

.menu {
  display: none;
  position: absolute;
  left: 0;
  height: 550px;
  width: 100%;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Baloo1";
}
.navdiv li {
  display: inline-block;
  font-size: 35px;
  text-align: center;
}
.navdiv li a {
  margin-right: 40px;
  text-decoration: none;
  color: rgb(0, 62, 84);
}

.contact-color {
  color: rgb(215, 123, 65);
}

.banner-images h1 {
  color: rgb(0, 62, 84);
  font-size: 90px;
  line-height: 1.2;
  font-family: "Baloo1";
}

.banner-images {
  margin: 0 30px;
  overflow: hidden;
}
.banner-images h2 {
  font-size: 45px;
  line-height: 1.2;
  font-family: "Baloo1";
  font-weight: 400;
  color: rgb(0, 62, 84);
}
.banner-images .h2-color {
  color: rgb(215, 123, 65);
  font-size: 60px;
}
.banner-images .text-inside1 {
  font-family: "Baloo1";
}
.banner-images h3 {
  color: rgb(0, 62, 84);
  font-family: "Baloo1";
}
.banner-images p {
  font-family: "Baloo1";
}
.banner-images .line1 {
  background-color: rgb(215, 123, 65);
  width: 86px;
  height: 3px;
  display: inline-block;
  margin-bottom: 5px;
}
.banner-images h4 {
  color: rgb(0, 62, 84);
  font-family: "Baloo1";
}

.pictures-main {
  display: flex;
  justify-content: space-between;
}
.pictures-main div:nth-child(1) {
  align-self: flex-end;
}
.pictures-main div:nth-child(3) {
  align-self: flex-end;
}
.pictures-main .pic1a {
  margin-top: 10px;
  width: 298px;
}
.pictures-main .pics2a {
  -o-object-fit: cover;
     object-fit: cover;
  width: 290px;
  margin-left: 10px;
  position: relative;
  top: 35px;
  height: 420px;
  right: 0px;
}
.pictures-main .pic3 {
  margin-left: 10px;
  height: 270px;
  width: 340px;
  position: relative;
  right: 1px;
}
.pictures-main .pic4 {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
  height: 455px;
  width: 340px;
  position: relative;
  right: 5px;
}

.pictures-main2 {
  display: flex;
  margin-top: 10px;
  opacity: 20%;
}
.pictures-main2 .under-2 {
  width: 330px;
  margin-left: 10px;
}
.pictures-main2 .under-3 {
  width: 230px;
  margin-left: 10px;
}
.pictures-main2 .under-4 {
  width: 418px;
  margin-left: 10px;
}

.about {
  padding: 100px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about h2 {
  color: rgb(215, 123, 65);
  font-size: 42px;
  font-family: "Baloo1";
  line-height: 1.2;
}
.about p {
  line-height: 1.4;
  margin-top: 15px;
  color: rgb(0, 62, 84);
  font-weight: 500;
  font-size: 19px;
  font-family: "Baloo2";
  margin-top: 20px;
}
.about img {
  width: 541px;
}

.services1 {
  background-color: rgb(0, 62, 84);
  padding: 80px 40px;
  padding-bottom: 100px;
}
.services1 h2 {
  font-family: "Baloo1";
}
.services1 h5 {
  font-family: "Baloo1";
}

.line2 {
  background-color: rgb(215, 123, 65);
  width: 390px;
  height: 2px;
  margin-bottom: 20px;
}

.line3 {
  background-color: rgb(215, 123, 65);
  width: 390px;
  height: 1px;
  margin-bottom: 20px;
}

.line4 {
  background-color: rgb(215, 123, 65);
  width: 390px;
  height: 2px;
  margin-bottom: 20px;
}

.carousel-indicators button {
  margin-bottom: -70px;
  position: relative;
  top: 30px;
}

.Services {
  font-family: "Baloo1";
}
.Services img {
  width: 405px;
}
.Services h2 {
  font-size: 42px;
  color: #ebecee;
  margin-bottom: 40px;
}
.Services .card-title {
  color: rgb(215, 123, 65);
}
.Services .card {
  background-color: #123E52;
  border: none;
  margin-bottom: 15px;
}
.Services .card-text {
  color: #ebecee;
}
.Services p {
  font-family: "Baloo2";
  font-size: 17px;
}

.banner-img1 {
  width: 100%;
}

.banner-img11 {
  margin-top: 15px;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(215, 123, 65);
}
.subscribe .button1 button {
  border: 2px solid rgb(0, 62, 84);
  background-color: rgb(0, 62, 84);
  color: #fff;
  font-family: "Baloo1";
  font-size: 25px;
  width: 380px;
  padding: 10px 20px;
  margin-top: 25px;
  margin-left: 22px;
}
.subscribe h2 {
  font-size: 42px;
  font-family: "Baloo1";
  margin-left: 20px;
}
.subscribe img {
  width: 450px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 90px 45px;
}

.getintouch {
  background-image: linear-gradient(#EBECEE 0%, #ECEDEF 0.01%, #F5F6F8 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}
.getintouch p {
  color: rgb(0, 62, 84);
  font-size: 19px;
  font-family: "Baloo2";
}
.getintouch .GetT {
  background-color: #fff;
}
.getintouch img {
  height: 650px;
  width: 400px;
  margin-left: 20px;
  margin-top: 60px;
}

.text-getinto {
  text-align: center;
  color: rgb(215, 123, 65);
}
.text-getinto h2 {
  font-size: 42px;
  font-family: "Baloo1";
  font-weight: 400;
}
.text-getinto p {
  color: rgb(0, 62, 84);
  font-family: "Baloo2";
  line-height: 1.2;
  margin-bottom: 30px;
  font-weight: 550;
}
.text-getinto .footer1 h2 {
  font-size: 42px;
  font-family: "Baloo1";
  line-height: 50px;
}
.text-getinto .footer1 p {
  font-size: 12px;
  font-family: "Baloo1";
}
.text-getinto .form-control {
  padding: 17px 27px;
  font-family: "Baloo1";
  font-size: 15px;
  color: rgb(0, 62, 84);
  width: 450px;
}

.button2 button {
  padding: 9px 20px;
  border: 2px solid rgb(0, 62, 84);
  width: 447px;
  color: #fff;
  font-family: "Baloo2";
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(0, 62, 84);
}

.banner {
  display: flex;
  background-size: cover;
}

.banner-text-items {
  padding-left: 60px;
  font-family: "Baloo1";
  color: white;
}
.banner-text-items h2 {
  font-size: 45px;
  color: white;
}

.textbanner1 {
  font-family: "Baloo1";
  background-size: cover;
  height: 60vh;
  color: white;
}

.banner-img1 {
  align-items: end;
}

.woow-img {
  width: 100%;
}

.p23 {
  margin-left: 100px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer1 {
  color: white;
  background-image: url(Group\ 9.png);
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 100px 40px;
  font-family: "Baloo1";
}
.footer1 h2 {
  display: block;
  font-size: 35px;
  font-family: "Baloo1";
  font-weight: 400;
  margin-bottom: 8px;
}
.footer1 .con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}
.footer1 .con i {
  margin: 5px 0 10px 0;
}
.footer1 i {
  margin-left: 50px;
}
.footer1 p {
  margin-left: 20px;
  font-family: "Baloo2";
  font-weight: 700;
}
.footer1 .icon-1 {
  margin-right: 20px;
}
.footer1 .icon-2 {
  margin-right: 20px;
}

@media only screen and (min-width: 576px) {
  .header {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .firstnum {
    height: 140px;
  }
  .pictures-main .pic1a {
    width: 308px;
  }
  .carousel-indicators button {
    display: none;
  }
  .services1 {
    background-color: rgb(0, 62, 84);
    padding: 30px 30px;
  }
  .pics2a {
    display: none;
  }
  .pic3 {
    margin-left: 10px;
    display: none;
  }
  .pic4 {
    display: none;
  }
  #hamburger {
    display: block;
    margin: 29px 42px;
    position: relative;
    right: 10px;
    top: 10px;
  }
  .open .menu {
    height: 101vh;
    margin-top: -57px;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: none;
  }
  .main-navbar img {
    width: 110px;
    height: 80px;
    margin-left: 25px;
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    right: 5px;
  }
  .banner-images {
    line-height: 1.2;
  }
  .banner-images h1 {
    font-size: 24px;
  }
  .banner-images .h2-color, .banner-images h2 {
    font-size: 18px;
  }
  .banner-images h4 {
    font-size: 16px;
  }
  .banner-images .line1 {
    width: 40px;
  }
  .banner-images .pictures-main2 {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
  }
  .about h2 {
    font-size: 18px;
  }
  .about p {
    font-size: 16px;
  }
  .about img {
    display: none;
  }
  .Services h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .subscribe .button1 button {
    margin-top: 5px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
  }
  .subscribe img {
    width: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0px 0px;
  }
  .subscribe h2 {
    font-size: 21.5px;
    margin-right: 24px;
  }
  .subscribe .button1 {
    font-size: 16px;
  }
  .subscribe button.my-button {
    font-size: 12px;
    width: 170px;
    padding: 10px 18px;
  }
  .getintouch img {
    display: none;
  }
  .getintouch .text-getinto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  }
  .getintouch .text-getinto h2 {
    font-size: 18px;
  }
  .getintouch .text-getinto p {
    font-size: 14px;
  }
  .getintouch .text-getinto .form-control {
    width: 300px;
    margin: 0 32px;
  }
  .getintouch .text-getinto button.my-button {
    font-size: 16px;
    width: 300px;
    padding: 10px 18px;
  }
  .footer1 {
    background-image: url(Group\ 9.png);
    background-position: center;
    height: 180px;
    position: relative;
    bottom: 25px;
  }
  .footer1 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer1 h2 {
    font-size: 18px;
  }
  .con {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .con p {
    margin: 5px 15px 0 5px;
    font-size: 12px;
  }
  .footer img {
    width: 137px;
    height: 70px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main-navbar {
    display: flex;
    justify-content: row;
  }
  .main-navbar img {
    height: 100px;
    position: relative;
    right: 275px;
  }
  .main-navbar .navdiv li a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(0, 62, 84);
    font-size: 25px;
  }
  .main-navbar ul {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
  }
  .main-navbar .navdiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .banner-images h2 {
    font-size: 40px;
  }
  .banner-images .h2-color {
    font-size: 50px;
  }
  .banner-images h1 {
    font-size: 50px;
    line-height: 1;
  }
  .banner-images h4 {
    font-size: 30px;
  }
  .banner-images .pic1a {
    margin-bottom: 31px;
  }
  .banner-images .pic3 {
    display: none;
  }
  .banner-images .pic4 {
    display: none;
  }
  .banner-images .pics2a {
    height: 369px;
    width: 395px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 70px;
    margin-bottom: 31.4px;
  }
  .banner-images .pictures-main2 {
    display: none;
  }
  .about {
    display: flex;
  }
  .about h2 {
    font-size: 25px;
  }
  .about p {
    font-size: 16px;
  }
  .about img {
    width: 250px;
    height: 250px;
  }
  .Services .card {
    width: 228px;
  }
  .Services img {
    width: 227px;
  }
  .line2 {
    width: 206px;
  }
  .Services h2 {
    font-size: 25px;
  }
  .services1 h5 {
    font-size: 16px;
  }
  .Services p {
    font-size: 14px;
  }
  .subscribe {
    display: flex;
    flex-direction: row;
  }
  .subscribe h2 {
    font-size: 24px;
  }
  .subscribe .button1 button {
    font-size: 14px;
    width: 200px;
    padding: 10px 20px;
  }
  .subscribe img {
    height: 250px;
    width: 250px;
  }
  .getintouch {
    background-image: linear-gradient(#EBECEE 0%, #ECEDEF 0.01%, #F5F6F8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
  }
  .getintouch img {
    display: none;
  }
  .getintouch .text-getinto h2 {
    font-size: 25px;
    font-family: "Baloo1";
    font-weight: 400;
  }
  .getintouch p {
    font-size: 16px;
  }
  .footer1 {
    color: white;
    background-image: url(Group\ 9.png);
    background-position: 96%;
    height: 300px;
  }
  .footer1 p {
    margin-left: 30px;
  }
  .footer1 .footer {
    display: flex;
  }
  .footer1 h2 {
    font-size: 30px;
  }
  .footer img {
    height: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .line2 {
    width: 267px;
  }
  .pictures-main2 .under-3 {
    width: 257px;
  }
  .pictures-main .pic4 {
    display: none;
  }
  .pictures-main2 .under-4 {
    display: none;
  }
  .about h2 {
    font-size: 35px;
  }
  .about img {
    width: 300px;
  }
  .Services img {
    width: 290px;
  }
  .Services .card-text {
    font-size: 20px;
  }
  .Services h2 {
    font-size: 35px;
  }
  .services1 h5 {
    font-size: 30px;
  }
  .subscribe {
    padding: 80px 40px;
  }
  .subscribe .button1 button {
    font-size: 20px;
    width: 240px;
    padding: 15px 10px;
  }
  .subscribe h2 {
    font-size: 35px;
  }
  .subscribe img {
    width: 300px;
  }
  .footer1 {
    background-position: right;
    height: 300px;
  }
}/*# sourceMappingURL=index.css.map */