* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Baloo1";
  src: url(BalooBhaijaan-Regular.ttf);
}
@font-face {
  font-family: "Baloo2";
  src: url(Baloo2-VariableFont_wght.ttf);
}
header a {
  text-decoration: none;
  color: white;
}

.firstnum {
  height: 136px;
  width: 262px;
  margin-left: 36px;
}

header {
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.contact-color {
  color: rgb(215, 123, 65);
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

#hamburger div {
  width: 35px;
  height: 3px;
  background-color: #123E52;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #123E52;
  height: 90vh;
  margin-top: 33px;
}

.menu {
  display: none;
  position: absolute;
  left: 0;
  height: 550px;
  width: 100%;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Baloo1";
}
.navdiv li {
  display: inline-block;
  font-size: 35px;
  text-align: center;
}
.navdiv li a {
  margin-right: 40px;
  text-decoration: none;
  color: rgb(0, 62, 84);
}
.navdiv li a:hover {
  color: rgb(215, 123, 65);
}

.banner-images h1 {
  color: rgb(0, 62, 84);
  font-size: 90px;
  line-height: 1.2;
  font-family: "Baloo1";
  margin-left: 30px;
}

.banner-images {
  margin: 0 30px;
  overflow: hidden;
}
.banner-images h2 {
  font-size: 45px;
  line-height: 1.2;
  font-family: "Baloo1";
  font-weight: 400;
  color: rgb(0, 62, 84);
  margin-left: 35px;
}
.banner-images .h2-color {
  color: rgb(215, 123, 65);
  font-size: 60px;
}
.banner-images .text-inside1 {
  font-family: "Baloo1";
}
.banner-images h3 {
  color: rgb(0, 62, 84);
  font-family: "Baloo1";
}
.banner-images p {
  font-family: "Baloo1";
}
.banner-images .line1 {
  background-color: rgb(215, 123, 65);
  width: 86px;
  height: 3px;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 60px;
  position: relative;
  right: 16px;
}
.banner-images h4 {
  color: rgb(0, 62, 84);
  font-family: "Baloo1";
  font-size: 19px;
  margin-bottom: 40px;
}

.pictures-main {
  display: flex;
  justify-content: space-between;
}
.pictures-main div:nth-child(1) {
  align-self: flex-end;
  margin-right: 75px;
}
.pictures-main div:nth-child(3) {
  align-self: flex-end;
}
.pictures-main .pic1a {
  margin-top: 8px;
  width: 262px;
  height: 218px;
  margin-left: 36px;
  -o-object-fit: cover;
     object-fit: cover;
}
.pictures-main .pics2a {
  width: 285px;
  height: 390px;
  position: relative;
  right: 23%;
  top: 0px;
}
.pictures-main .pic3 {
  height: 255px;
  width: 315px;
  position: relative;
  right: 17%;
}
.pictures-main .pic4 {
  margin-left: 10px;
  height: 390px;
  width: 305px;
  right: 54px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.pictures-main2 {
  display: flex;
  margin-top: 10px;
  opacity: 20%;
}
.pictures-main2 .under-1 {
  width: 262px;
  height: 55px;
  margin-left: 36px;
}
.pictures-main2 .under-2 {
  width: 330px;
  margin-left: 10px;
}
.pictures-main2 .under-3 {
  width: 183px;
  margin-left: 10px;
  height: 54px;
}
.pictures-main2 .under-4 {
  width: 394px;
  margin-left: 10px;
}

.about {
  padding: 75px 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about h2 {
  color: rgb(215, 123, 65);
  font-size: 40px;
  font-family: "Baloo1";
  line-height: 1.2;
}
.about p {
  line-height: 1.4;
  color: rgb(0, 62, 84);
  font-size: 20px;
  font-family: "Baloo2";
  margin-top: 20px;
}
.about img {
  width: 450px;
  height: 470px;
  margin-left: 35px;
  position: relative;
  left: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services1 {
  background-color: rgb(0, 62, 84);
  padding: 80px 40px;
  padding-bottom: 100px;
}
.services1 h2 {
  font-family: "Baloo1";
}
.services1 h5 {
  font-family: "Baloo2";
  font-weight: 700;
  font-size: 25px;
}

.line2 {
  background-color: rgb(215, 123, 65);
  width: 390px;
  height: 2px;
  margin-bottom: 20px;
  position: relative;
  right: 15px;
}

.line3 {
  background-color: rgb(215, 123, 65);
  width: 390px;
  height: 1px;
  margin-bottom: 20px;
}

.line4 {
  background-color: rgb(215, 123, 65);
  width: 390px;
  height: 2px;
  margin-bottom: 20px;
  position: relative;
  right: 15px;
}

.carousel-indicators button {
  margin-bottom: -70px;
  position: relative;
  top: 30px;
}

.Services {
  font-family: "Baloo1";
}
.Services img {
  width: 395px;
  height: 174px;
  margin: 9px 9px 0px 9px;
}
.Services h2 {
  font-size: 40px;
  color: #ebecee;
  margin-bottom: 40px;
}
.Services .card-title {
  color: rgb(215, 123, 65);
  position: relative;
  right: 15px;
}
.Services .card {
  background-color: #123E52;
  border: none;
  margin-bottom: 15px;
}
.Services .card-text {
  color: #ebecee;
}
.Services .card-text:last-child {
  position: relative;
  right: 15px;
}
.Services p {
  font-family: "Baloo2";
  font-size: 17px;
}

.banner-img1 {
  width: 100%;
}

.banner-img11 {
  margin-top: 15px;
}

.subscribe {
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(215, 123, 65);
}
.subscribe .button1 button {
  border: 2px solid rgb(0, 62, 84);
  background-color: rgb(0, 62, 84);
  color: #fff;
  font-family: "Baloo1";
  font-size: 20px;
  font-weight: 500;
  width: 380px;
  padding: 20px 10px;
  margin: 35px 0px 0px 20px;
}
.subscribe h2 {
  font-size: 40px;
  font-family: "Baloo1";
  margin-left: 20px;
}
.subscribe img {
  width: 470px;
  height: 430px;
  margin: 90px 45px;
}

.subcritext {
  font-size: 20px;
}

.formtext1 {
  position: absolute;
  margin-top: -52px;
  margin-left: 28px;
}

.formtext2 {
  position: absolute;
  margin-top: -126px;
  margin-left: 28px;
}

.getintouch {
  background-image: linear-gradient(#EBECEE 0%, #ECEDEF 0.01%, #F5F6F8 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
  padding: 36px 0;
}
.getintouch p {
  color: rgb(0, 62, 84);
  font-size: 19px;
  font-family: "Baloo2";
}
.getintouch .GetT {
  background-color: #fff;
}
.getintouch img {
  height: 650px;
  width: 495px;
  margin-top: 60px;
  -o-object-fit: fill;
     object-fit: fill;
}

.text-getinto {
  text-align: center;
  color: rgb(215, 123, 65);
}
.text-getinto h2 {
  font-size: 40px;
  font-family: "Baloo1";
  font-weight: 400;
}
.text-getinto p {
  color: rgb(0, 62, 84);
  font-family: "Baloo2";
  line-height: 1.2;
  margin-bottom: 30px;
}
.text-getinto .footer1 h2 {
  font-size: 42px;
  font-family: "Baloo1";
  line-height: 50px;
}
.text-getinto .footer1 p {
  font-size: 12px;
  font-family: "Baloo1";
}
.text-getinto .form-control {
  padding: 17px 27px;
  font-family: "Baloo2";
  font-size: 20px;
  color: rgb(0, 62, 84);
  width: 560px;
}

.button2 button {
  padding: 15px 10px;
  border: 2px solid rgb(0, 62, 84);
  width: 560px;
  color: #fff;
  font-family: "Baloo2";
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(0, 62, 84);
}

.banner {
  display: flex;
  background-size: cover;
}

.banner-text-items {
  padding-left: 60px;
  font-family: "Baloo1";
  color: white;
}
.banner-text-items h2 {
  font-size: 45px;
  color: white;
}

.textbanner1 {
  font-family: "Baloo1";
  background-size: cover;
  height: 60vh;
  color: white;
}

.banner-img1 {
  align-items: end;
}

.woow-img {
  width: 100%;
}

.p23 {
  margin-left: 100px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer1 {
  color: white;
  background-image: url(Group\ 9.png);
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px;
  font-family: "Baloo1";
}
.footer1 h2 {
  display: block;
  font-size: 40px;
  font-family: "Baloo1";
  font-weight: 400;
  margin-bottom: 8px;
}
.footer1 .con {
  display: flex;
  flex-direction: row;
}
.footer1 .con i {
  margin: 5px 0 10px 0;
}
.footer1 .icon-con2 {
  margin-left: 86px;
}
.footer1 i {
  margin-left: 50px;
}
.footer1 p {
  margin-left: 48px;
  font-family: "Baloo2";
  font-weight: 700;
  font-size: 20px;
  position: relative;
  bottom: 37px;
}

.fa-solid {
  font-size: 25px;
  color: white;
}

@media only screen and (min-width: 575.98px) {
  .header {
    display: none;
  }
}
@media only screen and (max-width: 575.98px) {
  header {
    padding: 0 5px;
  }
  .firstnum {
    height: 140px;
    width: 310px;
    margin-left: 3px;
  }
  .pictures-main .pic1a {
    width: 310px;
    height: 215px;
    margin-left: 3px;
  }
  #hamburger div {
    position: relative;
    left: 23px;
  }
  .carousel-indicators button {
    display: none;
  }
  .services1 {
    background-color: rgb(0, 62, 84);
    padding: 30px 30px;
  }
  .pics2a {
    display: none;
  }
  .pic3 {
    margin-left: 10px;
    display: none;
  }
  .pic4 {
    display: none;
  }
  #hamburger {
    display: block;
    margin: 29px 50px;
  }
  .open .menu {
    height: 102vh;
    margin-top: -63px;
    z-index: 1;
  }
  ul a {
    color: white;
    margin-right: 33px;
    font-family: "Baloo1";
    position: relative;
    bottom: 80px;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: none;
  }
  .main-navbar img {
    width: 110px;
    height: 80px;
    margin-left: 20px;
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    right: 5px;
  }
  .Services .card-title {
    position: relative;
    right: 6px;
  }
  .Services .card-text:last-child {
    position: relative;
    right: 6px;
  }
  .line2 {
    width: 295px;
    position: relative;
    right: 6px;
  }
  .line4 {
    width: 295px;
    position: relative;
    right: 6px;
  }
  .services1 h5 {
    font-size: 20px;
  }
  .small-phone {
    position: relative;
    right: 31px;
  }
  .banner-images {
    line-height: 1.2;
  }
  .banner-images h1 {
    font-size: 24px;
    padding-right: 20px;
    position: relative;
    right: 28px;
  }
  .banner-images .h2-color, .banner-images h2 {
    font-size: 18px;
  }
  .banner-images h4 {
    font-size: 16px;
    margin-left: -12px;
  }
  .banner-images .line1 {
    width: 40px;
    position: relative;
    left: -7px;
  }
  .banner-images .pictures-main2 {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 50px 36px;
  }
  .about h2 {
    font-size: 18px;
  }
  .about p {
    font-size: 16px;
  }
  .about img {
    display: none;
  }
  .Services h2 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .subscribe .button1 button {
    margin-top: 5px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    padding: 55px 0px;
  }
  .subscribe img {
    width: 315px;
    height: 268px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0px 0px;
  }
  .subscribe h2 {
    font-size: 18px;
  }
  .subscribe .button1 {
    font-size: 16px;
  }
  .subscribe button.my-button {
    font-size: 12px;
    width: 92.5%;
    padding: 8px 18px;
  }
  .subcritext {
    font-size: 20px;
    margin-right: 73px;
    margin-bottom: 26px;
  }
  .fa-solid {
    font-size: 15px;
  }
  .Services p {
    font-size: 14px;
  }
  .getintouch img {
    display: none;
  }
  .getintouch .text-getinto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0;
  }
  .getintouch .text-getinto h2 {
    font-size: 16px;
  }
  .getintouch .text-getinto p {
    font-size: 14px;
  }
  .getintouch .text-getinto .form-control {
    width: 300px;
    margin: 0 32px;
    padding: 8px 25px;
  }
  .getintouch .text-getinto button.my-button {
    font-size: 16px;
    width: 300px;
    padding: 8px 18px;
  }
  .footer1 {
    background-image: url(Group\ 9.png);
    background-position: center;
    height: 25vh;
    padding: 15px 43px;
  }
  .footer1 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer1 h2 {
    font-size: 16px;
    margin-top: 35px;
  }
  .con {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .con p {
    font-size: 11px;
    margin-left: 8px;
  }
  .footer img {
    width: 137px;
    height: 70px;
  }
  .footer1 p {
    position: relative;
    bottom: 25px;
    left: 15px;
  }
  .footer1 .icon-con2 {
    margin-left: 35px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .main-navbar {
    display: flex;
    justify-content: row;
  }
  .main-navbar img {
    height: 100px;
    position: relative;
    right: 252px;
  }
  .main-navbar ul {
    position: absolute;
    right: 17px;
  }
  .main-navbar .navdiv li a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(0, 62, 84);
    font-size: 25px;
  }
  .main-navbar .navdiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .banner-images h2 {
    font-size: 40px;
    margin-left: 0px;
  }
  .banner-images .h2-color {
    font-size: 50px;
  }
  .banner-images .line1 {
    margin-left: 0px;
  }
  .firstnum {
    margin-left: 0px;
    width: 300px;
  }
  .banner-images h1 {
    font-size: 50px;
    line-height: 1;
    margin-left: 0px;
  }
  .banner-images h4 {
    font-size: 30px;
  }
  .banner-images .pic3 {
    display: none;
  }
  .banner-images .pic4 {
    display: none;
  }
  .banner-images .pics2a {
    height: 375px;
    width: 405px;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    top: -5px;
    margin-right: -81px;
  }
  .banner-images .pictures-main2 {
    display: none;
  }
  .pictures-main .pic1a {
    margin-top: 8px;
    width: 300px;
    height: 218px;
    margin-left: 0px;
    margin-bottom: 6px;
  }
  .about {
    display: flex;
    padding: 32px;
  }
  .about h2 {
    font-size: 25px;
  }
  .about p {
    font-size: 16px;
  }
  .about img {
    width: 250px;
    height: 250px;
  }
  .about img {
    width: 250px;
    height: 250px;
    display: none;
  }
  .Services .card {
    width: 228px;
  }
  .Services img {
    width: 205px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .line2 {
    width: 206px;
  }
  .Services h2 {
    font-size: 25px;
  }
  .services1 h5 {
    font-size: 16px;
  }
  .Services p {
    font-size: 14px;
  }
  .subscribe {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .subscribe h2 {
    font-size: 24px;
  }
  .subscribe .button1 button {
    font-size: 14px;
    width: 200px;
    padding: 10px 20px;
    margin: 5px 0px 0px 20px;
  }
  .subscribe img {
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fa-solid {
    font-size: 20px;
  }
  .getintouch {
    background-image: linear-gradient(#EBECEE 0%, #ECEDEF 0.01%, #F5F6F8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
  }
  .getintouch img {
    display: none;
  }
  .getintouch .text-getinto h2 {
    font-size: 25px;
    font-family: "Baloo1";
    font-weight: 400;
  }
  .getintouch p {
    font-size: 16px;
  }
  .footer1 {
    color: white;
    background-image: url(Group\ 9.png);
    background-position: 96%;
    height: 300px;
  }
  .footer1 p {
    margin-left: 30px;
    font-size: 18px;
  }
  .footer1 .footer {
    display: flex;
  }
  .footer1 .icon-con2 {
    margin-left: 40px;
  }
  .footer1 h2 {
    font-size: 30px;
  }
  .footer img {
    height: 100px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .line2 {
    width: 267px;
  }
  .pictures-main2 .under-3 {
    width: 272px;
  }
  .getintouch {
    padding: 40px 0px;
  }
  .banner-images h1 {
    font-size: 65px;
  }
  .pictures-main .pic4 {
    display: none;
  }
  .pictures-main2 .under-4 {
    display: none;
  }
  .getintouch img {
    height: 535px;
    width: 380px;
  }
  .about h2 {
    font-size: 30px;
  }
  .about img {
    width: 300px;
    height: 330px;
  }
  .about p {
    font-size: 16px;
  }
  .footer1 h2 {
    font-size: 30px;
  }
  .footer1 p {
    margin-left: 30px;
    position: relative;
    bottom: 28px;
  }
  .text-getinto .form-control {
    width: 460px;
  }
  .fa-solid {
    font-size: 15px;
  }
  .button2 button {
    width: 460px;
  }
  .Services img {
    width: 290px;
  }
  .Services .card-text {
    font-size: 20px;
  }
  .Services h2 {
    font-size: 35px;
  }
  .services1 h5 {
    font-size: 30px;
  }
  .pictures-main .pics2a {
    width: 263px;
    height: 390px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pictures-main .pic3 {
    height: 255px;
    width: 325px;
    margin-left: 14px;
  }
  .subscribe {
    padding: 40px 20px;
  }
  .subscribe .button1 button {
    font-size: 20px;
    width: 240px;
    padding: 15px 10px;
  }
  .subscribe h2 {
    font-size: 35px;
  }
  .subscribe img {
    width: 372px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer1 {
    background-position: right;
    height: 300px;
  }
}
@media only screen and (min-width: 1399.98px) {
  .pictures-main {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 20px;
  }
  .footer1 {
    height: 43vh;
    padding: 95px;
  }
  .pictures-main2 .under-2 {
    width: 360px;
    height: 55px;
    margin-left: 5px;
  }
  .pictures-main2 .under-3 {
    width: 207px;
    height: 55px;
    position: relative;
    left: 4px;
  }
  .pictures-main .pics2a {
    width: 320px;
    height: 390px;
    margin-left: 10px;
  }
  .pictures-main .pic1a {
    margin-top: 8px;
    width: 320px;
    height: 218px;
    margin-left: 36px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .firstnum {
    height: 136px;
    width: 320px;
    margin-left: 36px;
  }
  .pictures-main .pic3 {
    width: 385px;
    margin-right: 6px;
  }
  .pictures-main .pic4 {
    height: 390px;
    /* position: relative; */
    margin-left: -6px;
    width: 320px;
  }
  .Services img {
    width: 415px;
  }
  .pictures-main2 .under-1 {
    width: 318px;
    height: 55px;
    margin-left: -2px;
  }
  .pictures-main2 .under-4 {
    margin-left: 17px;
    height: 55px;
    width: 520px;
  }
  .pictures-main2 {
    margin-left: 15px;
  }
  .about {
    padding: 75px 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
  .pictures-main .pic4 {
    height: 390px;
    width: 345px;
    position: relative;
    right: 0px;
  }
  .pictures-main2 .under-3 {
    width: 278px;
    height: 55px;
    position: relative;
    left: 4px;
  }
  .pictures-main .pics2a {
    width: 362px;
    height: 390px;
    margin-left: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pictures-main .pic3 {
    width: 420px;
    margin-right: -38px;
    -o-object-fit: fill;
       object-fit: fill;
    height: 250px;
  }
}/*# sourceMappingURL=index.css.map */